<a href="https://colab.research.google.com/github/felstuff/BackToBasic/blob/master/Abt_List%2C_Tuple_%26_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NOTES: About List, Tuple & Dictionary

**List, Tuple & Dictionary are known as Collective Values** 

**List** - opens and close with square brackets [ ], and it can contains values like integer, string, another list, or float. Sometimes it can contain all the different values in a list   

**Tuple** - hardly used & opens and close with round brackets ( )

**Dictionary** - opens and close with curly brackets { }, and it will only containt string which is enclosed with '  ' and/or integer.

To find out more: https://medium.com/@paulrohan/python-list-vs-tuple-vs-dictionary-4a48655c7934

*Python ALWAYS start counting from "0"*

In [ ]:
a = 1 # "a" is a variable & "1" is the value assigned to it

In [30]:
listttttttt1 = [ 'elephant', 3.141459, 7, [4,12,5], True ] 

# listttttttt1 is the variable 
# [ 'elephant', 3.141459, 7, [4,12,5], True ] is the value, in a List. 
# How you know it's a List is coz it contains: all the different type of variables like integer, string, boolean, float

In [32]:
# To find the number 12 from the above list 
listttttttt1[3][1]
# [3] is the order of the "list" [1] is the order of the "list" within the "list", hence [] twice, to call out 12.

12

In [28]:
# This is a Dictionary
# WHY? coz it opens and closes with {}
# and it only contain integer and/ or a string 
# Always is a **key:value** pair, and seperated by a comma 

human = {'gender': 1, 'age': 40, 2000: 153}

In [34]:
# to call out "2000" 
human[2000]

153

In [ ]:
# in this case this code will run and give us a List, coz it's in []
cv_data['test-accuracy-score']